    [Unit]
    Description=Custom Game Server
    After=network.target
    
    [Service]
    Type=simple
    User=yourusername                          # Define the user under which the service will run.
    ExecStart=/path/to/start_server.sh         # Path to the script that starts the server. 
    Restart=on-failure
    RestartSec=5
    StartLimitIntervalSec=60
    StartLimitBurst=3
    StandardOutput=/var/log/minecraft_server.log    # Standard output and error logs. The log file location can be customized.
    StandardError=/var/log/minecraft_server.log     # Standard output and error logs. The log file location can be customized.
    
    [Install]
    WantedBy=multi-user.target
